/* *{
    margin: 0;
    padding: 0;
} */

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #f9FaF8;
    padding-left: 132px;
    align-self: center;
}

.header-links{
    justify-content: center;
    align-self: center;
    padding-right: 132px;

}

ul {
    list-style: none;
    display: flex;
    gap: 10px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}

.hero-left{
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    justify-content: center;
    padding-left: 132px;
}

.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;;

}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-right{
    height: 300px;
    width: auto;
    padding-right: 132px;
}

.button{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
  }

.button:hover {
    background: rgb(35, 57, 123);
}


.container-two{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.title{
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 20px;
}

.inner-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    
}

.container-two img {
    border: 5px solid #3e84f6;
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.imgOne, .imgTwo, .imgThree, .imgFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 225px;
}

.imgOne div, .imgTwo div, .imgThree div, .imgFour div {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #808891;
}

.quote-container {
    margin-top: 20px;
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}

.author {
    display: flex;
    justify-content: right;
    padding-right: 250px;
    font-size: 25px;
    font-weight: 600px;
    color: black;
    padding-bottom: 100px;
}

.cta-container {
    padding: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

.cta {
    font-family: "Roboto", sans-serif;
    background-color: #3b82f6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 125px;
    border-radius: 25px;

}

.cta-text{
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
}

.cta-text div{
    font-size: 14px;
    font-weight: 500;
    color: #F9FAF8;
}

.cta button {
    background-color: #3882f6;
    border-color: white;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    font-size: 20px;
    font-weight: 300;
    color: #F9FAF8;
    padding: 5px 0;
}