/* *{
    margin: 0;
    padding: 0;
} */

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #f9FaF8;
    padding-left: 132px;
    align-self: center;
}

.header-links{
    justify-content: center;
    align-self: center;
    padding-right: 132px;

}

ul {
    list-style: none;
    display: flex;
    gap: 10px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}

.hero-left{
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    justify-content: center;
    padding-left: 132px;
}

.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;;

}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-right{
    height: 300px;
    width: auto;
    padding-right: 132px;
}

.button{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
  }

.button:hover {
    background: rgb(35, 57, 123);
}


.container-two{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.title{
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 20px;
}

.inner-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    
}

.container-two img {
    border: 5px solid #3e84f6;
    margin: 10px;
}

.imgOne, .imgTwo, .imgThree, .imgFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this line */
    padding: 16px;
    width: 225px;
}
